.about-page {
    width: 100%;
    max-width: 1200px;
    min-height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    padding-left: 200px
}

.about-page .about-container {
    min-height: 500px;
    border: 1px solid #f4f4f4;
    margin-bottom: 40px
}

.about-page .about-container .about-part {
    font-size: 15px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #666;
    line-height: 1.8;
    padding: 20px 35px
}

.about-page .about-container .about-part h3 {
    margin-bottom: 40px
}

.about-page .about-container .about-part .qq-link {
    cursor: pointer
}

.about-page .nav-left {
    top: 40px
}

.about-page .knowus-content p {
    margin-bottom: 20px
}

.about-page .contact-content .qq-tips {
    font-size: 13px;
    line-height: 1.5
}

.about-page .contact-content .row {
    padding: 0;
    margin: 0;
    margin-top: 25px
}

.about-page .contact-content .col-md-1 {
    width: 5%
}

.about-page .contact-content .col-sm-offset-1 {
    margin-left: 5%
}

.about-page .contact-content .col-md-1, .about-page .contact-content .col-md-3, .about-page .contact-content .col-md-4, .about-page .contact-content .col-md-8 {
    padding-left: 0;
    padding-right: 0
}

.about-page .contact-content .qq-logo, .about-page .contact-content .email-logo, .about-page .contact-content .partner-logo {
    background: url(/media/img/contact_logos.png) no-repeat;
    display: inline-block;
    width: 27px;
    height: 23px;
    background-position: -9999px -9999px
}

.about-page .contact-content .qq-logo {
    background-position: 0 0
}

.about-page .contact-content .email-logo {
    background-position: 0 -26px
}

.about-page .contact-content .partner-logo {
    background-position: 0 -52px
}

.about-page .partners-content .partner-list dd.clients {
    height: 280px;
    background-color: #fdfdfd;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5
}

.about-page .partners-content .client {
    width: 100%
}

.about-page .youlink-list {
    float: left;
    display: inline-block;
    margin-bottom: 10px
}

.about-page .youlink-list a {
    color: #666
}

.about-page .youlink-list .alinks {
    font-size: 17px;
    display: inline-block;
    height: 27px;
    padding-right: 20px;
    background-image: url('/media/img/youlinks_logos.png?ver=8df08c');
    background-repeat: no-repeat;
    background-position: -9999px -9999px
}

.about-page .youlink-list .logos {
    width: 140px;
    padding: 0
}

.about-page .youlink-list .huanxin {
    background-position: 0 0
}

.about-page .youlink-list .juhe {
    background-position: 0 -41px
}

.about-page .youlink-list .rongyun {
    background-position: 0 -82px
}

.about-page .youlink-list .bootcss {
    background-position: 0 -123px
}

.about-page .youlink-list .weimeng {
    background-position: 0 -164px
}

.about-page .youlink-list .kuaifawu {
    background-position: 0 -205px
}

.about-page .youlink-list .pgyer {
    background-position: 0 -246px
}

.about-page .youlink-list .youtui {
    background-position: 0 -287px
}

.about-page .youlink-list .jisiwei {
    background-position: 0 -328px
}

.about-page .youlink-list .nashangban {
    background-position: 0 -369px
}

.about-page .youlink-list .swift {
    background-position: 0 -410px
}

.about-page .youlink-list .zoa {
    background-position: 0 -451px
}

.about-page .youlink-list .yunzhisheng {
    background-position: 0 -492px
}

.about-page .youlink-list .teambition {
    background-position: 0 -533px
}

.about-page .youlink-list .baoliweishi {
    background-position: 0 -574px
}

.about-page .youlink-list .itjuzi {
    background-position: 0 -615px
}

.about-page .youlink-list .kuguopush {
    background-position: 0 -656px
}

.about-page .youlink-list .wangxiaoyun {
    background-position: 0 -697px
}

.about-page .youlink-list .yunsuo {
    background-position: 0 -738px
}
