.red {
    color: #f00
}

.green {
    color: #008000
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    -webkit-text-size-adjust: none;
    background-color: #333
}

html .navbar-default .navbar-collapse {
    border-top-color: #333
}

html .pagination {
    float: right
}

html .pagination li.active a {
    color: #fff !important;
    background-color: #0082e5 !important
}

html .pagination li.disabled a {
    color: #ccc !important
}

html .container {
    max-width: 1200px;
    width: 100%
}

html .money {
    font-size: 14px !important;
    font-family: Tahoma, Helvetica, arial, sans-serif !important;
    color: #f76120 !important
}

html table.dotted-table {
    border: 1px solid #ddd !important;
    border-spacing: 0 !important
}

html table.dotted-table thead tr {
    border-color: #cde9ff !important;
    height: 40px
}

html table.dotted-table thead th {
    background-color: #e4f3ff !important;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    vertical-align: middle
}

html table.dotted-table tbody tr td {
    border-top: 1px dotted #ddd !important;
    font-size: 13px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

@media (max-width: 768px) {
    html table.dotted-table tbody tr td {
        font-size: 12px !important;
        font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif !important;
        word-break: break-all
    }
}

html table.dotted-table tbody tr:nth-child(even) {
    background-color: #fcfcfc
}

html table.dotted-table tbody td:not(:last-child), html table.dotted-table tbody .dotted-table th:not(:last-child) {
    border-right: 1px dotted #ddd !important
}

html code {
    color: #f76120
}

html #nav_hello a:hover {
    height: 60px;
    margin-bottom: 9.5px
}

html #host-nav {
    font-size: 18px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    margin-top: 30px;
    color: #333
}

html #host-nav hr {
    border-top: 2px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px
}

html h4 {
    font-size: 18px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    font-weight: normal
}

html h5 {
    font-size: 16px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #333;
    font-weight: normal
}

html input.user-error, html textarea.user-error {
    -moz-outline-radius: 4px 4px 4px 4px !important;
    border-color: #ee5238 !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 0 0 2px #ee5238 inset !important;
    out-line: 2px solid #ee5238 !important
}

html a:hover {
    text-decoration: none;
    color: #0082e5
}

html input.error, html textarea.error {
    -moz-outline-radius: 4px 4px 4px 4px !important;
    border-color: #ee5238 !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 0 0 2px #ee5238 inset !important;
    out-line: 2px solid #ee5238 !important;
    outline-color: #ee5238 !important
}

html .btn:focus {
    outline: none;
    outline-offset: none
}

html .btn-primary:hover, html .btn-primary:focus, html .btn-primary:active, html .btn-primary.active, html .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0082e5
}

html .navbar-static-top.navbar {
    margin-bottom: 0;
    border: none
}

@media (min-width: 769px) {
    html .navbar-static-top.navbar {
        max-height: 60px
    }
}

html .navbar-collapse {
    max-height: 400px
}

html .navbar-static-top {
    background-color: #333
}

html .navbar-static-top #logo {
    margin-top: 0px;
    background: url(../img/logo_new.png) no-repeat;
    display: inline-block;
    width: 193px;
    height: 60px;
    margin-right: 60px;
    padding-left: 0;
    margin-left: 0
}

html .navbar-static-top .navbar-nav li {
    text-align: center
}

html .navbar-static-top .navbar-nav li a {
    line-height: 30px;
    padding: 15px 20px;
    display: inline-block
}

html .navbar-static-top .navbar-nav .active a, html .navbar-static-top .navbar-nav a:link, html .navbar-static-top .navbar-nav a:visited, html .navbar-static-top .navbar-nav a:hover, html .navbar-static-top .navbar-nav a:active {
    color: #fff;
    font-size: 16px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .navbar-static-top .navbar-nav a:hover {
    color: #fff;
    background-color: #0082e5 /* blue , #222 black*/
}

html .navbar-static-top .navbar-nav .active a:link, html .navbar-static-top .navbar-nav .active a:visited, html .navbar-static-top .navbar-nav .active a:hover, html .navbar-static-top .navbar-nav .active a:active {
    color: #fff;
    background-color: #0082e5
}

@media (max-width: 1200px) {
    html .navbar-static-top .navbar-nav:not(.navbar-right) li {
        min-width: 64px
    }
}

html .navbar-static-top .navbar-nav.navbar-right:last-child {
    margin-right: 0
}

@media (max-width: 1000px) {
    html .navbar-static-top .navbar-nav.navbar-right:last-child {
        float: left !important
    }
}

html .navbar-static-top .navbar-right li {
    min-width: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

html .navbar-static-top .navbar-right li a {
    line-height: 30px
}

html .navbar-static-top .navbar-right li .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
    display: inline-block
}

html .navbar-static-top .navbar-right li.active a:link, html .navbar-static-top .navbar-right li.active a:visited, html .navbar-static-top .navbar-right li.active a:hover, html .navbar-static-top .navbar-right li.active a:active {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .navbar-static-top .navbar-right a:link, html .navbar-static-top .navbar-right a:visited, html .navbar-static-top .navbar-right a:hover, html .navbar-static-top .navbar-right a:active {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #bbb
}

html .navbar-static-top .navbar-right a:link:hover, html .navbar-static-top .navbar-right a:visited:hover, html .navbar-static-top .navbar-right a:hover:hover, html .navbar-static-top .navbar-right a:active:hover {
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .navbar-static-top .navbar-right li#nav_hello a {
    height: 60px
}

html .navbar-static-top .navbar-right .beian {
    min-width: 106px
}

html .navbar-static-top .navbar-right .beian a span {
    background-color: #444;
    padding: 10px;
    border-radius: 4px
}

html .navbar-static-top .navbar-right .tablet-layout {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

html .navbar-static-top .container > .navbar-header, html .navbar-static-top .container-fluid > .navbar-header, html .navbar-static-top .container > .navbar-collapse, html .navbar-static-top .container-fluid > .navbar-collapse {
    margin: 0
}

html .container img {
    max-width: 100%
}

html .meituan-red {
    color: #f76120
}

html .label {
    font-size: 11px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    padding-top: 4px
}

html .btn-primary {
    background-color: #0082e5;
    border-color: #178ce5
}

html .modal {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .modal .info {
    margin-bottom: -20px
}

html .modal label {
    font-weight: normal
}

html .modal .modal-info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px
}

html .modal .modal-footer a.btn {
    min-width: 100px
}

html .clients .row.title {
    margin-bottom: 40px;
    margin-top: 10px
}

html .clients .reason-text {
    color: #0082e5;
    font-size: 32px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    text-align: center
}

html .clients .client {
    margin-bottom: 18px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url('/media/img/logos.png?version=320f89');
    display: inline-block;
    height: 54px
}

html .clients .client a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none
}

html .clients .client.clover {
    background-position: center 0
}

html .clients .client.xueqiu {
    background-position: center -54px
}

html .clients .client.pingwest {
    background-position: center -108px
}

html .clients .client.jinguoyouxi {
    background-position: center -162px
}

html .clients .client.waimaiku {
    background-position: center -216px
}

html .clients .client.jinshisong {
    background-position: center -270px
}

html .clients .client.liangcang {
    background-position: center -324px
}

html .clients .client.songshuhui {
    background-position: center -378px
}

html .clients .client.itjuzi {
    background-position: center -432px
}

html .clients .client.wifiio {
    background-position: center -486px
}

html .clients .client.meidisen {
    background-position: center -540px
}

html .clients .client.lean {
    background-position: center -594px
}

html .clients .client.talkingdata {
    background-position: center -648px
}

html .clients .client.anquanbao {
    background-position: center -702px
}

html .clients .client.w3coffee {
    background-position: center -756px
}

html .clients .client.segmentfault {
    background-position: center -810px
}

html .clients .client.airq {
    background-position: center -864px
}

html .clients .client.kuaijianli {
    background-position: center -918px
}

html .clients .client.tuicool {
    background-position: center -972px
}

html .clients .client.qiubai {
    background-position: center -1026px
}

html .clients .client.magcollege {
    background-position: center -1080px
}

html .clients .client.botai {
    background-position: center -1134px
}

html .clients .client.xueersi {
    background-position: center -1188px
}

html .clients .client.haoweilai {
    background-position: center -1242px
}

html .clients .client.cloudwise {
    background-position: center -1296px
}

html .clients .client.eduise {
    background-position: center -1350px
}

html .clients .client.fudan {
    background-position: center -1404px
}

html .clients .client.ivymobi {
    background-position: center -1458px
}

html .clients .client.ivymobi {
    background-position: center -1458px
}

html .clients .client.dbfen {
    background-position: center -1512px
}

html .clients .client.jobdeer {
    background-position: center -1566px
}

html .clients .client.ifindu {
    background-position: center -1620px
}

html .clients .client.haochengtech {
    background-position: center -1674px
}

html .clients .client.chuansongmen {
    background-position: center -1728px
}

html .clients .client.hg-ies {
    background-position: center -1782px
}

html .clients .client.geekcar {
    background-position: center -1836px
}

html .clients .client.guitar {
    background-position: center -1890px
}

html .clients .client.tainiu {
    background-position: center -1944px
}

html .clients .client.htmusice {
    background-position: center -1998px
}

html .clients .client.huaxinwei {
    background-position: center -2052px
}

html .clients .client.wukongjian {
    background-position: center -2106px
}

html .clients .client.huaxiahk {
    background-position: center -2160px
}

html .clients .client.zhangku {
    background-position: center -2214px
}

html .clients .client.wearehero {
    background-position: center -2268px
}

html .clients .client.kf5 {
    background-position: center -2322px
}

html #server .img {
    background: url(../img/index_img.png) no-repeat;
    background-position: 0 0;
    width: 550px;
    height: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #storage .img {
    background: url(../img/index_img_1b864e.png) no-repeat;
    background-position: 0 -300px;
    width: 550px;
    height: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #net .img {
    background: url(../img/index_img_1b864e.png) no-repeat;
    background-position: 0 -600px;
    width: 550px;
    height: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #price .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 -622px;
    width: 433px;
    height: 216px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #cache {
    padding-bottom: 50px
}

html #cache .img, html #cache .img {
    background: url(../img/index_img_1b864e.png) no-repeat;
    background-position: 0 -910px;
    width: 550px;
    height: 330px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #api .img {
    background: url(../img/index_img_1b864e.png) no-repeat;
    background-position: 0 -1600px;
    width: 550px;
    height: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #template .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 10px -1755px;
    width: 470px;
    height: 270px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #backup .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 10px -2050px;
    width: 470px;
    height: 270px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html #qq {
    position: fixed;
    display: block;
    top: 460px;
    right: 0;
    margin-right: 40px;
    width: 54px;
    height: 54px;
    padding: 5px !important;
    background-color: #0082e5;
    border: none !important;
    visibility: visible;
    color: #fff;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html #qq .qq-icon {
    width: 25px;
    height: 18px;
    display: inline-block;
    background-image: url(../img/icon-set-20140123.png);
    line-height: 14px;
    vertical-align: top;
    background-position: -186px 44px;
    margin-top: 6px;
    margin-left: 10px
}

html #qq:hover {
    opacity: 1
}

html .page_index article.container {
    padding-top: 80px;
    padding-bottom: 80px
}

@media (max-width: 767px) {
    html .page_index article.container {
        padding-top: 20px !important;
        padding-bottom: 20px !important
    }
}

html .page_index .slider-display {
    position: relative;
    background-color: #007edf;
    color: #fff;
    width: 100%;
    height: 290px
}

@media (max-width: 1030px) {
    html .page_index .slider-display {
        height: auto;
        min-height: 290px
    }
}

html .page_index .slider-display .slide-list {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer
}

html .page_index .slider-display .main-index .image {
    display: inline-block;
    background: url(../img/index_img_1b864e.png) no-repeat;
    background-position: 0 -1900px;
    width: 472px;
    height: 290px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 767px) {
    html .page_index .slider-display .main-index .image {
        margin-left: auto;
        margin-right: auto
    }
}

html .page_index .slider-display .desc, html .page_index .slider-display .image {
    width: 50%;
    float: left
}

html .page_index .slider-display .desc {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    vertical-align: middle;
    margin-top: 80px;
    max-width: 450px
}

html .page_index .slider-display .desc .title {
    font-size: 46px;
    font-weight: bold
}

html .page_index .slider-display .desc .detail {
    font-size: 20px;
    line-height: 1.8
}

html .page_index .slider-display .template-index .desc, html .page_index .slider-display .backup-index .desc, html .page_index .slider-display .monitor-index .desc, html .page_index .slider-display .library-index .desc, html .page_index .slider-display .redis-index .desc {
    width: auto;
    margin-right: 15px;
    text-align: right
}

html .page_index .slider-display .template-index .image, html .page_index .slider-display .backup-index .image, html .page_index .slider-display .monitor-index .image, html .page_index .slider-display .library-index .image, html .page_index .slider-display .redis-index .image {
    display: inline-block;
    float: right;
    width: 570px;
    height: 290px
}

html .page_index .slider-display .library-index .title {
    font-weight: lighter;
    font-size: 48px;
    line-height: 1.5
}

html .page_index .slider-display .library-index .detail {
    text-align: left;
    font-size: 36px;
    line-height: 36px
}

html .page_index .slider-display .template-index .image {
    background: url(../img/template.png) no-repeat 0 0
}

html .page_index .slider-display .backup-index .image {
    background: url(../img/backup.png) no-repeat 0 0
}

html .page_index .slider-display .monitor-index .image {
    background: url(../img/banner-monitor.png) no-repeat 0 -5px
}

html .page_index .slider-display .library-index .image {
    background: url(../img/banner-library.png) no-repeat 0 -5px;
    opacity: .9
}

html .page_index .slider-display .redis-index .image {
    background: url(../img/banner-redis.png) no-repeat -60px -5px
}

html .page_index .slider-display .slider-icons {
    position: absolute;
    right: 0;
    bottom: -25px
}

html .page_index .slider-display .slider-icons .icons {
    background-color: #fff;
    display: inline-block;
    opacity: .4;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 20px
}

html .page_index .slider-display .slider-icons .icons.action {
    opacity: 1
}

html .page_index .slider-display .slider-icons .icons:hover {
    opacity: .8
}

html .page_index div.main-row:nth-child(even) {
    background-color: #fafafa
}

html .page_index article.main {
    background: #007edf;
    padding-bottom: 35px;
    padding-top: 35px
}

html .page_index article.main .row.meituanyun .left-text {
    padding-top: 20px;
    font-size: 18px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #fff;
    margin-bottom: 30px
}

html .page_index article.main .row.meituanyun .left-img .img {
    background: url(../img/index-logo-set-aaa3b3.png) no-repeat;
    background-position: 0 -70px;
    width: 175px;
    height: 68px
}

html .page_index article.main .row.meituanyun .right-img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 -1150px;
    width: 472px;
    height: 290px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 767px) {
    html .page_index article.main .row.meituanyun .right-img {
        margin-left: auto;
        margin-right: auto
    }
}

html .page_index article#feature {
    padding: 50px 0
}

html .page_index article#feature .row {
    margin-left: auto;
    margin-right: auto;
    color: #666
}

html .page_index article#feature .row div {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

html .page_index article#feature .row div .title {
    font-size: 32px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px
}

html .page_index article#feature .row div .text {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    line-height: 24px
}

html .page_index article#feature .row .wendinggaosu .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 0;
    width: 124px;
    height: 120px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html .page_index article#feature .row .gaoxingjiabi .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 -124px;
    width: 124px;
    height: 120px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html .page_index article#feature .row .jishufuwu .img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 -253px;
    width: 140px;
    height: 130px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px
}

html .page_index article.container {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #666
}

html .page_index article.container div {
    margin-left: auto;
    margin-right: auto;
    text-align: left
}

html .page_index article.container .title {
    font-size: 32px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #0082e5;
    padding-bottom: 10px
}

html .page_index article.container .text .desc {
    max-width: 100%;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    line-height: 24px
}

html .page_index article.container .img {
    text-align: center
}

html .page_hosts #host-infor table td {
    font-size: 13px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_hosts #host-infor table td.key {
    min-width: 44px
}

html .page_login .container.main, html .page_signup .container.main {
    padding-top: 100px
}

html .page_login .container.main .form-group, html .page_signup .container.main .form-group {
    position: relative
}

html .page_login .container.main .text-label, html .page_signup .container.main .text-label {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    line-height: 22px;
    color: #666
}

html .page_login .container.main input:not([type='checkbox']), html .page_signup .container.main input:not([type='checkbox']) {
    height: 36px
}

html .page_login .container.main #left_img, html .page_signup .container.main #left_img {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: 0 -1435px;
    width: 433px;
    height: 262px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

html .page_login .container.main .alert.alert-danger, html .page_signup .container.main .alert.alert-danger {
    width: 260px;
    position: absolute;
    top: -64px;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_login .container.main #id_username, html .page_signup .container.main #id_username, html .page_login .container.main #id_password, html .page_signup .container.main #id_password {
    width: 260px;
    padding-left: 30px
}

html .page_login .container.main a.text-label, html .page_signup .container.main a.text-label, html .page_login .container.main a#a-forget-pass, html .page_signup .container.main a#a-forget-pass, html .page_login .container.main a#a-free-reg, html .page_signup .container.main a#a-free-reg, html .page_login .container.main a#reg-term, html .page_signup .container.main a#reg-term {
    color: #0082e5;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_login .container.main #reg-term, html .page_signup .container.main #reg-term {
    line-height: 30px;
    margin-left: 100px
}

html .page_login .container.main #id_code, html .page_signup .container.main #id_code {
    width: 90px;
    height: 36px;
    padding-left: 10px;
    border-radius: 4px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace
}

html .page_login .container.main #captcha, html .page_signup .container.main #captcha {
    height: 36px;
    width: 64px;
    margin-top: -2px;
    border: 1px #ccc solid;
    border-radius: 4px
}

html .page_login .container.main #captcha_helper, html .page_signup .container.main #captcha_helper {
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_login .container.main .fa.input-icon, html .page_signup .container.main .fa.input-icon {
    position: absolute;
    left: 12px;
    bottom: 10px
}

html .page_login .container.main #btn-login, html .page_signup .container.main #btn-login, html .page_login .container.main #btn-signup, html .page_signup .container.main #btn-signup {
    width: 260px
}

html .page_login .container.main #a-forget-pass, html .page_signup .container.main #a-forget-pass {
    margin-left: 96px
}

html .page_login .form-group.text-label, html .page_signup .form-group.text-label {
    padding-top: 10px
}

html .page_login .bottom-line, html .page_signup .bottom-line {
    margin-top: 100px;
    border-bottom: 2px solid #0082e5
}

html .page_signup .row-title {
    margin-top: 10px;
    margin-bottom: 10px
}

html .page_signup .row-title .col-md-2 {
    margin-top: 8px;
    color: #666
}

html .page_signup .title {
    font-size: 20px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_signup .container.main {
    padding-top: 20px
}

html .page_signup hr {
    border-top: 2px solid #eee;
    margin-bottom: 28px;
    margin-top: 3px
}

html .page_signup form {
    margin-bottom: 120px
}

html .page_signup form #login-error {
    left: 400px;
    top: 0
}

html .page_signup div.controls {
    display: inline-block
}

html .page_signup .control-label {
    width: 100px;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #666;
    padding-right: 0;
    font-weight: normal
}

html .page_signup .form-control {
    width: 260px
}

html #monit-container .dropdown-toggle .caret {
    position: static
}

html body.page_dashboard #search-group {
    display: none
}

html body.page_dashboard td .btn-mini {
    margin-right: 5px
}

html body.page_dashboard td {
    font-size: 13px !important
}

html body.page_dashboard #search-btn {
    margin-left: -1px;
    height: 30px
}

html body.page_dashboard #search-group {
    margin-top: 30px
}

html body.page_dashboard #server-table {
    margin-top: 10px
}

html body.page_dashboard a.btn-mini {
    padding: 5px 10px;
    font-size: 10.5px !important
}

html body.page_dashboard tr td:last-child {
    vertical-align: middle
}

html body.page_dashboard #server-table {
    margin-top: 20px
}

html body.page_dashboard #server-table th {
    background-color: #f5f5f5;
    padding-left: 20px
}

html body.page_dashboard .page-bg {
    margin-bottom: -25px
}

html body.page_dashboard #div-server-table {
    min-height: 542px
}

html body.page_dashboard h3 button.close-popover {
    line-height: 14px
}

html body.page_dashboard .pagination.pagination-right.page-group {
    margin-top: -24px;
    margin-bottom: 0
}

html .page_account #main-zone {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .page_account #main-zone .alert.container {
    max-width: 1000px
}

html .page_account #main-zone a:not(.btn) {
    color: #0082e5
}

html .page_account #main-zone #balance-span {
    float: right;
    margin-top: 12px;
    margin-right: 20px
}

html .page_account #main-zone #main-tab {
    border-bottom: 2px solid #eee
}

html .page_account #main-zone #main-tab li.active a {
    box-shadow: 0 -3px;
    -pie-box-shadow: 0 -3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0px, Direction=-3px, Color='red')";
    filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0px, Direction=-3px, Color='red')";
    behavior: url(../lib/PIE-1.0.0/PIE.htc?v=3b8fe);
    color: #0082e5;
    padding-bottom: 10px;
    margin-bottom: -2px;
    margin-right: 2px
}

html .page_account #main-zone #main-tab li a {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f8f8f8));
    background: -moz-linear-gradient(top, #fdfdfd, #f8f8f8);
    background: -o-linear-gradient(top, #fdfdfd, #f8f8f8);
    background: -ms-linear-gradient(#fdfdfd 0, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', grandientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd,endColorstr=#f8f8f8)";
    width: 100px
}

@media (max-width: 768px) {
    html .page_account #main-zone #main-tab li a {
        width: 60px
    }
}

html .page_account #main-zone #main-tab li a:hover {
    cursor: pointer;
    color: #0082e5 !important;
    box-shadow: 0 -3px;
    -pie-box-shadow: 0 -3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0px, Direction=-3px, Color='red')";
    filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0px, Direction=-3px, Color='red')";
    behavior: url(../lib/PIE-1.0.0/PIE.htc?v=3b8fe)
}

html .page_account #main-zone #main-tab .price-text {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #f76120
}

html .page_account #main-zone h5 {
    color: #333
}

html .page_account #main-zone label {
    color: #666;
    font-weight: normal
}

html .page_account #main-zone .control-value {
    color: #000
}

html .page_account #main-zone code {
    width: 250px;
    font-size: 12px
}

html .page_account #main-zone #profile {
    padding-left: 30px;
    padding-right: 30px
}

html .page_account #main-zone .ref {
    margin-bottom: 20px
}

html .page_account #main-zone .ref .title {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #333
}

html .page_account #main-zone div.info {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    line-height: 24px;
    color: #999
}

html .page_account #main-zone #inputRecharge {
    width: 142px
}

html .page_account #main-zone #recharge-unit {
    line-height: 30px;
    padding-left: 0
}

@media (max-width: 769px) {
    html .page_account #main-zone #recharge-unit {
        margin-left: 14px
    }
}

html .page_account #main-zone #recharge-error-msg {
    color: #f00 !important
}

html .page_account #main-zone #balance:after {
    content: '鍏�';
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    color: #333
}

html .page_account #main-zone .zhifubao-logo {
    background: url(../img/index_set_6712aa.png) no-repeat;
    background-position: -130px -144px;
    width: 120px;
    height: 30px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0082e5;
    height: 48px;
    margin-top: -12px;
    border-radius: 4px;
    float: left;
    min-width: 120px
}

html .page_account #main-zone #recharge span:not(.label) {
    color: #666;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    line-height: 30px
}

html .page_account #main-zone .label-value {
    line-height: 33px
}

html .page_account #main-zone .pagination {
    margin-top: 0;
    margin-bottom: 10px
}

html .terms_page, html .sla_page {
    width: 100%;
    max-width: 1200px;
    min-height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    padding-left: 200px
}

html .terms_page .nav-left, html .sla_page .nav-left {
    top: 40px
}

html .terms_page .container, html .sla_page .container {
    min-width: 0
}

html .terms_page .terms-container, html .sla_page .terms-container {
    width: 100%;
    border: 1px solid #f4f4f4;
    margin-bottom: 40px;
    color: #666;
    line-height: 1.8;
    padding: 20px 35px;
    font-size: 15px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html .terms_page .terms-container h3, html .sla_page .terms-container h3 {
    margin-bottom: 40px
}

html .terms_page .faq ol li, html .sla_page .faq ol li {
    margin-top: 20px
}

html .terms_page #main-zone, html .sla_page #main-zone {
    margin-top: -25px;
    min-height: 600px
}

html .terms_page #main-zone #host-nav, html .sla_page #main-zone #host-nav {
    margin-bottom: 20px
}

html .terms_page .terms h4, html .sla_page .terms h4, html .terms_page .terms h5, html .sla_page .terms h5, html .terms_page .terms h6, html .sla_page .terms h6, html .terms_page mt4, html .sla_page mt4 {
    line-height: 24px;
    margin: 10px 0;
    color: #333;
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    font-weight: normal;
    background-color: none !important
}

html .terms_page .terms h5:before, html .sla_page .terms h5:before, html .terms_page .terms h6:before, html .sla_page .terms h6:before, html .terms_page mt4:before, html .sla_page mt4:before {
    margin-left: -40px;
    display: inline-block;
    min-width: 36px;
    width: 36px
}

html .terms_page .terms h6.no-number:before, html .sla_page .terms h6.no-number:before {
    width: 40px
}

html .terms_page .faq, html .sla_page .faq {
    counter-reset: chapter
}

html .terms_page .faq:before, html .sla_page .faq:before {
    counter-increment: chapter
}

html .terms_page .faq.terms, html .sla_page .faq.terms {
    background-color: #fff;
    border: none
}

html .terms_page .terms h4, html .sla_page .terms h4 {
    counter-reset: section;
    font-weight: bold
}

html .terms_page .terms h4:before, html .sla_page .terms h4:before {
    counter-increment: chapter;
    content: ""
}

html .terms_page .terms h5, html .sla_page .terms h5 {
    counter-reset: subsection;
    padding-left: 60px
}

html .terms_page .terms h5:before, html .sla_page .terms h5:before {
    counter-increment: section;
    content: counter(chapter) "." counter(section) " "
}

html .terms_page .terms h5.no-number, html .sla_page .terms h5.no-number {
    padding-left: 20px
}

html .terms_page .terms h5.no-number:before, html .sla_page .terms h5.no-number:before {
    counter-increment: section;
    content: ''
}

html .terms_page .terms h6, html .sla_page .terms h6 {
    counter-reset: subsubsection;
    padding-left: 100px;
    font-size: 14px
}

html .terms_page .terms h6:before, html .sla_page .terms h6:before {
    counter-increment: subsection;
    content: counter(chapter) "." counter(section) "." counter(subsection) " "
}

html .terms_page .terms h6.no-number, html .sla_page .terms h6.no-number {
    padding-left: 60px
}

html .terms_page .terms h6.no-number:before, html .sla_page .terms h6.no-number:before {
    counter-increment: subsection;
    content: ''
}

html .terms_page mt4, html .sla_page mt4 {
    counter-reset: subsubsubsection;
    padding-left: 90px
}

html .terms_page mt4:before, html .sla_page mt4:before {
    counter-increment: subsubsection;
    content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) " "
}

html footer {
    background-color: #333;
    color: #bbb;
    text-align: center;
    font-size: 12px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif
}

html footer .footer-content {
    display: inline-block;
    padding: 30px 0
}

html footer .footer-content .footer-top {
    max-width: 1100px;
    width: 100%
}

html footer .footer-content .footer-top dl {
    display: inline-block;
    width: 150px;
    margin: 0 5px;
    vertical-align: top;
    text-align: left;
    float: left \0
}

html footer .footer-content .footer-top dl dt {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #ddd
}

html footer .footer-content .footer-top dl ul.footer-list li {
    margin-bottom: 5px
}

html footer .footer-content .footer-top dl .footer-list a {
    line-height: 1.8;
    color: #bbb;
    font-size: 13px
}

html footer .footer-content .footer-top dl .footer-list a:hover, html footer .footer-content .footer-top dl .footer-list a:active, html footer .footer-content .footer-top dl .footer-list a:link {
    color: #bbb;
    text-decoration: none
}

html footer .footer-content .footer-top dl .footer-list a.link-display, html footer .footer-content .footer-top dl .footer-list a.link-display:hover, html footer .footer-content .footer-top dl .footer-list a.link-display:active, html footer .footer-content .footer-top dl .footer-list a.link-display:link {
    color: #fff
}

html footer .footer-content .wechat {
    display: inline-block;
    margin: 0;
    float: left \0
}

html footer .footer-content .wechat a {
    display: inline-block;
    margin-bottom: 5px
}

html footer .footer-content .beian {
    margin-top: 30px
}

html footer a, html footer a:hover {
    color: #bbb;
    text-decoration: none
}

html footer div {
    margin-top: 5px;
    margin-bottom: 5px
}

html footer div span {
    margin-left: 10px
}

html footer .icon-weibo {
    font-size: 20px;
    padding-right: 5px;
    vertical-align: middle;
    line-height: 21px
}

html footer .nav span {
    white-space: nowrap
}

html div.general {
    min-height: 400px;
    margin-top: 80px
}

html div.general label {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal
}

.navbar-static-top .navbar-nav > li {
    position: relative
}

.navbar-static-top .navbar-nav > li a {
    color: #ddd
}

.navbar-static-top .navbar-nav > li.active a {
    color: #eee
}

.navbar-static-top .navbar-nav .sub-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 140px;
    background-color: #0082e5 /*v#272727 */
}

.navbar-static-top .navbar-nav .sub-nav a {
    font-size: 14px !important;
    display: block !important;
    text-align: left !important;
    line-height: 1 !important
}

.navbar-static-top .navbar-nav .sub-nav li a:hover {
    background-color: #333
}

.navbar-static-top .navbar-nav > li:hover > a {
    background-color: #0082e5;
    color: #eee
}

.navbar-static-top .navbar-nav > li:hover .sub-nav {
    display: block
}

.nav-left {
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Arial, sans-serif;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0
}

.nav-left .nav-title {
    background-color: #0082e5;
    color: #fff;
    font-size: 16px;
    border-left: 2px solid #333;
    padding: 10px 10px;
    text-align: center
}

.nav-left .nav-list {
    border: 1px solid #efefef;
    border-left: none;
    margin-top: -1px
}

.nav-left .nav-list a {
    display: block;
    padding: 10px 10px;
    padding-left: 60px;
    border-left: 2px solid #efefef;
    color: #333;
    text-decoration: none
}

.nav-left .nav-list a:link, .nav-left .nav-list a:visited, .nav-left .nav-list a:hover, .nav-left .nav-list a:active {
    text-decoration: none
}

.nav-left .nav-list a.active, .nav-left .nav-list a:hover {
    background-color: #0082e5;
    background-color: #bedff8;
    border-color: #0082e5;
    border-left: 2px solid #0082e5
}

.document-container iframe {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0
}

@media (max-width: 951px) {
    html .page_index .slider-display {
        min-height: 240px
    }

    html .page_index .slider-display .desc {
        width: auto;
        max-width: 250px;
        margin-top: 60px
    }

    html .page_index .slider-display .desc .title {
        font-size: 20px;
        margin-bottom: 10px
    }

    html .page_index .slider-display .desc .detail {
        font-size: 16px
    }

    html .page_index .slider-display .main-index .image {
        background-size: 400px;
        background-position: 0 -1355px;
        width: 400px;
        height: 240px;
        float: right
    }

    .template-index .image, .backup-index .image {
        width: 450px !important;
        height: 240px !important
    }

    .template-index .image {
        background-size: 450px !important
    }

    .backup-index .image {
        background-size: 450px !important
    }
}

@media (max-width: 679px) {
    .slide-list .right-img.image {
        display: none !important
    }

    .verify-left {
        width: 80% !important
    }
}

@media (max-width: 991px) {
    .col-sm-offset-1 {
        margin-left: 0
    }

    .customer-list dd.clients {
        height: auto !important;
        width: 100%
    }

    .partner-list dd.clients {
        height: auto !important;
        width: 100%
    }

    #feature .col-md-4 {
        margin-bottom: 20px
    }

    .jishufuwu .img {
        margin-top: 0 !important
    }
}

@media (max-width: 954px) {
    .navbar-header {
        float: none
    }

    .navbar-toggle {
        display: block;
        margin-right: 0
    }

    .navbar-collapse.collapse {
        display: none;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 55px;
        left: 0;
        max-height: 560px
    }

    .navbar-collapse.collapse.in {
        display: block
    }

    .navbar-collapse.collapse .navbar-nav {
        margin: 0;
        background-color: #333;
        width: 100%
    }

    .navbar-collapse.collapse .navbar-nav > li, .navbar-collapse.collapse .navbar-nav > li a {
        width: 100%;
        float: none
    }

    .navbar-collapse.collapse .navbar-nav > li:hover .sub-nav, .navbar-collapse.collapse .navbar-nav > li a:hover .sub-nav {
        display: none
    }

    .customers-page, .about-page, .advantage-page, .products-page, .buy-page, .terms_page, .sla_page {
        padding-left: 0 !important;
        padding-top: 0 !important
    }

    .products-page .products-container .pro-desc .img {
        margin-top: 0 !important
    }

    .nav-left {
        position: static;
        width: 100%
    }

    .footer-content {
        padding-left: 30px !important
    }

    .footer-content .footer-top {
        text-align: left
    }

    .footer-content .footer-top dl {
        margin-bottom: 10px !important
    }
}

.login-dialog {
    margin: 0 auto;
    width: 408px !important;
    border-radius: 0 !important
}

.login-part {
    border-radius: 0 !important
}

.login-part .modal-header {
    background-color: #0082e5;
    padding: 10px 15px
}

.login-part .modal-header button, .login-part .modal-header h4 {
    color: #fff
}

.login-part .modal-header h4 {
    font-size: 16px
}

.login-part .modal-header button {
    opacity: .8
}

.login-part #u-login-body {
    height: 370px
}

.login-part .loading-jump--large {
    background: url(../img/login_pre.jpg) no-repeat;
    background-position: center 33px;
    height: 370px
}

.library-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 15px;
    margin-top: 10px
}
