<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.author.dao.AlarmLogPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.author.po.AlarmLogPO" >
    <id column="AlartID" property="alartid" jdbcType="INTEGER" />
    <result column="AlartType" property="alarttype" jdbcType="VARCHAR" />
    <result column="AlartSource" property="alartsource" jdbcType="VARCHAR" />
    <result column="AlartLevel" property="alartlevel" jdbcType="VARCHAR" />
    <result column="ImageName" property="imagename" jdbcType="VARCHAR" />
    <result column="ProjectName" property="projectname" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="Time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fctech.manager.author.po.AlarmLogPO" extends="BaseResultMap" >
    <result column="AlartInfo" property="alartinfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AlartID, AlartType, AlartSource, AlartLevel, ImageName, ProjectName, CompanyName, 
    Time
  </sql>
  <sql id="Blob_Column_List" >
    AlartInfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_LOG_ALARM
    where AlartID = #{alartid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_LOG_ALARM
    where AlartID = #{alartid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.author.po.AlarmLogPO" >
    insert into T_LOG_ALARM (AlartID, AlartType, AlartSource, 
      AlartLevel, ImageName, ProjectName, 
      CompanyName, Time, AlartInfo
      )
    values (#{alartid,jdbcType=INTEGER}, #{alarttype,jdbcType=VARCHAR}, #{alartsource,jdbcType=VARCHAR}, 
      #{alartlevel,jdbcType=VARCHAR}, #{imagename,jdbcType=VARCHAR}, #{projectname,jdbcType=VARCHAR}, 
      #{companyname,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{alartinfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.author.po.AlarmLogPO" >
    insert into T_LOG_ALARM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alartid != null" >
        AlartID,
      </if>
      <if test="alarttype != null" >
        AlartType,
      </if>
      <if test="alartsource != null" >
        AlartSource,
      </if>
      <if test="alartlevel != null" >
        AlartLevel,
      </if>
      <if test="imagename != null" >
        ImageName,
      </if>
      <if test="projectname != null" >
        ProjectName,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="time != null" >
        Time,
      </if>
      <if test="alartinfo != null" >
        AlartInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alartid != null" >
        #{alartid,jdbcType=INTEGER},
      </if>
      <if test="alarttype != null" >
        #{alarttype,jdbcType=VARCHAR},
      </if>
      <if test="alartsource != null" >
        #{alartsource,jdbcType=VARCHAR},
      </if>
      <if test="alartlevel != null" >
        #{alartlevel,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="alartinfo != null" >
        #{alartinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.author.po.AlarmLogPO" >
    update T_LOG_ALARM
    <set >
      <if test="alarttype != null" >
        AlartType = #{alarttype,jdbcType=VARCHAR},
      </if>
      <if test="alartsource != null" >
        AlartSource = #{alartsource,jdbcType=VARCHAR},
      </if>
      <if test="alartlevel != null" >
        AlartLevel = #{alartlevel,jdbcType=VARCHAR},
      </if>
      <if test="imagename != null" >
        ImageName = #{imagename,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null" >
        ProjectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        Time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="alartinfo != null" >
        AlartInfo = #{alartinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where AlartID = #{alartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fctech.manager.author.po.AlarmLogPO" >
    update T_LOG_ALARM
    set AlartType = #{alarttype,jdbcType=VARCHAR},
      AlartSource = #{alartsource,jdbcType=VARCHAR},
      AlartLevel = #{alartlevel,jdbcType=VARCHAR},
      ImageName = #{imagename,jdbcType=VARCHAR},
      ProjectName = #{projectname,jdbcType=VARCHAR},
      CompanyName = #{companyname,jdbcType=VARCHAR},
      Time = #{time,jdbcType=TIMESTAMP},
      AlartInfo = #{alartinfo,jdbcType=LONGVARCHAR}
    where AlartID = #{alartid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.author.po.AlarmLogPO" >
    update T_LOG_ALARM
    set AlartType = #{alarttype,jdbcType=VARCHAR},
      AlartSource = #{alartsource,jdbcType=VARCHAR},
      AlartLevel = #{alartlevel,jdbcType=VARCHAR},
      ImageName = #{imagename,jdbcType=VARCHAR},
      ProjectName = #{projectname,jdbcType=VARCHAR},
      CompanyName = #{companyname,jdbcType=VARCHAR},
      Time = #{time,jdbcType=TIMESTAMP}
    where AlartID = #{alartid,jdbcType=INTEGER}
  </update>
</mapper>