<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.author.dao.UserRolePOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.author.po.UserRolePO" >
    <id column="AUTHORITY_ID" property="authorityId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    AUTHORITY_ID, USER_ID, ROLE_ID, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_USER_ROLE
    where AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BASE_USER_ROLE
    where AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.author.po.UserRolePO" >
    insert into T_BASE_USER_ROLE (AUTHORITY_ID, USER_ID, ROLE_ID, 
      MEMO)
    values (#{authorityId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.author.po.UserRolePO" >
    insert into T_BASE_USER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        AUTHORITY_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorityId != null" >
        #{authorityId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.author.po.UserRolePO" >
    update T_BASE_USER_ROLE
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.author.po.UserRolePO" >
    update T_BASE_USER_ROLE
    set USER_ID = #{userId,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR}
  </update>
</mapper>