<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.author.dao.ProjectReaderPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.author.po.ProjectReaderPO" >
    <id column="reader_id" property="readerId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="usefulLife" property="usefullife" jdbcType="INTEGER" />
    <result column="unitName" property="unitname" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    reader_id, username, password, truename, idcard, phone, email, usefulLife, unitName, 
    time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_PROJECT_READER
    where reader_id = #{readerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_BASE_PROJECT_READER
    where reader_id = #{readerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.author.po.ProjectReaderPO" >
    insert into T_BASE_PROJECT_READER (reader_id, username, password, 
      truename, idcard, phone, 
      email, usefulLife, unitName, 
      time)
    values (#{readerId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{usefullife,jdbcType=INTEGER}, #{unitname,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.author.po.ProjectReaderPO" >
    insert into T_BASE_PROJECT_READER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="readerId != null" >
        reader_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="truename != null" >
        truename,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="usefullife != null" >
        usefulLife,
      </if>
      <if test="unitname != null" >
        unitName,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="readerId != null" >
        #{readerId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="usefullife != null" >
        #{usefullife,jdbcType=INTEGER},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.author.po.ProjectReaderPO" >
    update T_BASE_PROJECT_READER
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="usefullife != null" >
        usefulLife = #{usefullife,jdbcType=INTEGER},
      </if>
      <if test="unitname != null" >
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where reader_id = #{readerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.author.po.ProjectReaderPO" >
    update T_BASE_PROJECT_READER
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      truename = #{truename,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      usefulLife = #{usefullife,jdbcType=INTEGER},
      unitName = #{unitname,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where reader_id = #{readerId,jdbcType=INTEGER}
  </update>
</mapper>