<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.user.dao.RoleAuthorityPOMapper">
    <resultMap id="BaseResultMap" type="com.fctech.manager.user.po.RoleAuthorityPO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="AUTHORITY_ID" property="authorityId" jdbcType="VARCHAR"/>
        <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <result column="MENU_ID" property="menuId" jdbcType="VARCHAR"/>
        <result column="AUTHORIZELEVEL" property="authorizelevel" jdbcType="CHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="VARCHAR"/>
        <result column="OP_USER" property="opUser" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ID, AUTHORITY_ID, ROLE_ID, MENU_ID, AUTHORIZELEVEL, CREATE_TIME, LAST_MODIFY_TIME,
        OP_USER, MEMO
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.fctech.manager.user.example.RoleAuthorityPOExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from T_BASE_ROLE_AUTHORITY
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_BASE_ROLE_AUTHORITY
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from T_BASE_ROLE_AUTHORITY
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.fctech.manager.user.example.RoleAuthorityPOExample">
        delete from T_BASE_ROLE_AUTHORITY
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fctech.manager.user.po.RoleAuthorityPO">
        insert into T_BASE_ROLE_AUTHORITY (ID, AUTHORITY_ID, ROLE_ID,
        MENU_ID, AUTHORIZELEVEL, CREATE_TIME,
        LAST_MODIFY_TIME, OP_USER, MEMO
        )
        values (#{id,jdbcType=VARCHAR}, #{authorityId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR},
        #{menuId,jdbcType=VARCHAR}, #{authorizelevel,jdbcType=CHAR}, #{createTime,jdbcType=VARCHAR},
        #{lastModifyTime,jdbcType=VARCHAR}, #{opUser,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.fctech.manager.user.po.RoleAuthorityPO">
        insert into T_BASE_ROLE_AUTHORITY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="authorityId != null">
                AUTHORITY_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="menuId != null">
                MENU_ID,
            </if>
            <if test="authorizelevel != null">
                AUTHORIZELEVEL,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="lastModifyTime != null">
                LAST_MODIFY_TIME,
            </if>
            <if test="opUser != null">
                OP_USER,
            </if>
            <if test="memo != null">
                MEMO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="authorityId != null">
                #{authorityId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="authorizelevel != null">
                #{authorizelevel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=VARCHAR},
            </if>
            <if test="opUser != null">
                #{opUser,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fctech.manager.user.example.RoleAuthorityPOExample"
            resultType="java.lang.Integer">
        select count(*) from T_BASE_ROLE_AUTHORITY
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update T_BASE_ROLE_AUTHORITY
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.authorityId != null">
                AUTHORITY_ID = #{record.authorityId,jdbcType=VARCHAR},
            </if>
            <if test="record.roleId != null">
                ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
            </if>
            <if test="record.menuId != null">
                MENU_ID = #{record.menuId,jdbcType=VARCHAR},
            </if>
            <if test="record.authorizelevel != null">
                AUTHORIZELEVEL = #{record.authorizelevel,jdbcType=CHAR},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
            </if>
            <if test="record.lastModifyTime != null">
                LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=VARCHAR},
            </if>
            <if test="record.opUser != null">
                OP_USER = #{record.opUser,jdbcType=VARCHAR},
            </if>
            <if test="record.memo != null">
                MEMO = #{record.memo,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update T_BASE_ROLE_AUTHORITY
        set ID = #{record.id,jdbcType=VARCHAR},
        AUTHORITY_ID = #{record.authorityId,jdbcType=VARCHAR},
        ROLE_ID = #{record.roleId,jdbcType=VARCHAR},
        MENU_ID = #{record.menuId,jdbcType=VARCHAR},
        AUTHORIZELEVEL = #{record.authorizelevel,jdbcType=CHAR},
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
        LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=VARCHAR},
        OP_USER = #{record.opUser,jdbcType=VARCHAR},
        MEMO = #{record.memo,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.user.po.RoleAuthorityPO">
        update T_BASE_ROLE_AUTHORITY
        <set>
            <if test="authorityId != null">
                AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                ROLE_ID = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="menuId != null">
                MENU_ID = #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="authorizelevel != null">
                AUTHORIZELEVEL = #{authorizelevel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastModifyTime != null">
                LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
            </if>
            <if test="opUser != null">
                OP_USER = #{opUser,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                MEMO = #{memo,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fctech.manager.user.po.RoleAuthorityPO">
        update T_BASE_ROLE_AUTHORITY
        set AUTHORITY_ID = #{authorityId,jdbcType=VARCHAR},
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
        MENU_ID = #{menuId,jdbcType=VARCHAR},
        AUTHORIZELEVEL = #{authorizelevel,jdbcType=CHAR},
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
        OP_USER = #{opUser,jdbcType=VARCHAR},
        MEMO = #{memo,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>