<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.dao.DtuConfigPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.po.DtuConfigPO" >
    <id column="TerminalConfigID" property="terminalconfigid" jdbcType="INTEGER" />
    <result column="DTUNO" property="dtuno" jdbcType="VARCHAR" />
    <result column="Logondate" property="logondate" jdbcType="TIMESTAMP" />
    <result column="Updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="Sinaddr" property="sinaddr" jdbcType="VARCHAR" />
    <result column="Sinport" property="sinport" jdbcType="VARCHAR" />
    <result column="Localaddr" property="localaddr" jdbcType="VARCHAR" />
    <result column="Localport" property="localport" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TerminalConfigID, DTUNO, Logondate, Updatetime, Sinaddr, Sinport, Localaddr, Localport
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fctech.manager.po.DtuConfigPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_BUSINESS_DTU_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_BUSINESS_DTU_CONFIG
    where TerminalConfigID = #{terminalconfigid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_BUSINESS_DTU_CONFIG
    where TerminalConfigID = #{terminalconfigid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fctech.manager.po.DtuConfigPOExample" >
    delete from T_BUSINESS_DTU_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.po.DtuConfigPO" >
    insert into T_BUSINESS_DTU_CONFIG (TerminalConfigID, DTUNO, Logondate, 
      Updatetime, Sinaddr, Sinport, 
      Localaddr, Localport)
    values (#{terminalconfigid,jdbcType=INTEGER}, #{dtuno,jdbcType=VARCHAR}, #{logondate,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{sinaddr,jdbcType=VARCHAR}, #{sinport,jdbcType=VARCHAR}, 
      #{localaddr,jdbcType=VARCHAR}, #{localport,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.po.DtuConfigPO" >
    insert into T_BUSINESS_DTU_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="terminalconfigid != null" >
        TerminalConfigID,
      </if>
      <if test="dtuno != null" >
        DTUNO,
      </if>
      <if test="logondate != null" >
        Logondate,
      </if>
      <if test="updatetime != null" >
        Updatetime,
      </if>
      <if test="sinaddr != null" >
        Sinaddr,
      </if>
      <if test="sinport != null" >
        Sinport,
      </if>
      <if test="localaddr != null" >
        Localaddr,
      </if>
      <if test="localport != null" >
        Localport,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="terminalconfigid != null" >
        #{terminalconfigid,jdbcType=INTEGER},
      </if>
      <if test="dtuno != null" >
        #{dtuno,jdbcType=VARCHAR},
      </if>
      <if test="logondate != null" >
        #{logondate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sinaddr != null" >
        #{sinaddr,jdbcType=VARCHAR},
      </if>
      <if test="sinport != null" >
        #{sinport,jdbcType=VARCHAR},
      </if>
      <if test="localaddr != null" >
        #{localaddr,jdbcType=VARCHAR},
      </if>
      <if test="localport != null" >
        #{localport,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fctech.manager.po.DtuConfigPOExample" resultType="java.lang.Integer" >
    select count(*) from T_BUSINESS_DTU_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BUSINESS_DTU_CONFIG
    <set >
      <if test="record.terminalconfigid != null" >
        TerminalConfigID = #{record.terminalconfigid,jdbcType=INTEGER},
      </if>
      <if test="record.dtuno != null" >
        DTUNO = #{record.dtuno,jdbcType=VARCHAR},
      </if>
      <if test="record.logondate != null" >
        Logondate = #{record.logondate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sinaddr != null" >
        Sinaddr = #{record.sinaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.sinport != null" >
        Sinport = #{record.sinport,jdbcType=VARCHAR},
      </if>
      <if test="record.localaddr != null" >
        Localaddr = #{record.localaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.localport != null" >
        Localport = #{record.localport,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BUSINESS_DTU_CONFIG
    set TerminalConfigID = #{record.terminalconfigid,jdbcType=INTEGER},
      DTUNO = #{record.dtuno,jdbcType=VARCHAR},
      Logondate = #{record.logondate,jdbcType=TIMESTAMP},
      Updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      Sinaddr = #{record.sinaddr,jdbcType=VARCHAR},
      Sinport = #{record.sinport,jdbcType=VARCHAR},
      Localaddr = #{record.localaddr,jdbcType=VARCHAR},
      Localport = #{record.localport,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.po.DtuConfigPO" >
    update T_BUSINESS_DTU_CONFIG
    <set >
      <if test="dtuno != null" >
        DTUNO = #{dtuno,jdbcType=VARCHAR},
      </if>
      <if test="logondate != null" >
        Logondate = #{logondate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sinaddr != null" >
        Sinaddr = #{sinaddr,jdbcType=VARCHAR},
      </if>
      <if test="sinport != null" >
        Sinport = #{sinport,jdbcType=VARCHAR},
      </if>
      <if test="localaddr != null" >
        Localaddr = #{localaddr,jdbcType=VARCHAR},
      </if>
      <if test="localport != null" >
        Localport = #{localport,jdbcType=VARCHAR},
      </if>
    </set>
    where TerminalConfigID = #{terminalconfigid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.po.DtuConfigPO" >
    update T_BUSINESS_DTU_CONFIG
    set DTUNO = #{dtuno,jdbcType=VARCHAR},
      Logondate = #{logondate,jdbcType=TIMESTAMP},
      Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      Sinaddr = #{sinaddr,jdbcType=VARCHAR},
      Sinport = #{sinport,jdbcType=VARCHAR},
      Localaddr = #{localaddr,jdbcType=VARCHAR},
      Localport = #{localport,jdbcType=VARCHAR}
    where TerminalConfigID = #{terminalconfigid,jdbcType=INTEGER}
  </update>
</mapper>