<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.user.dao.MenuPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.po.MenuPO" >
    <id column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="LANGUAGE_TYPE" property="languageType" jdbcType="VARCHAR" />
    <result column="PARENT_MENU_ID" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_ICON" property="menuIcon" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="OPEN_FLAG" property="openFlag" jdbcType="CHAR" />
    <result column="MENU_NO" property="menuNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="VARCHAR" />
    <result column="SYS_TYPE" property="sysType" jdbcType="CHAR" />
    <result column="OP_USER" property="opUser" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="LEAF" property="leaf" jdbcType="CHAR" />
    <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MENU_ID, LANGUAGE_TYPE, PARENT_MENU_ID, MENU_NAME, MENU_ICON, MENU_URL, OPEN_FLAG, 
    MENU_NO, CREATE_TIME, LAST_MODIFY_TIME, SYS_TYPE, OP_USER, MEMO, SORT_NO, LEAF, MENU_TYPE, 
    DELETE_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fctech.manager.po.MenuPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_BASE_MENU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BASE_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fctech.manager.po.MenuPOExample" >
    delete from T_BASE_MENU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.po.MenuPO" >
    insert into T_BASE_MENU (MENU_ID, LANGUAGE_TYPE, PARENT_MENU_ID, 
      MENU_NAME, MENU_ICON, MENU_URL, 
      OPEN_FLAG, MENU_NO, CREATE_TIME, 
      LAST_MODIFY_TIME, SYS_TYPE, OP_USER, 
      MEMO, SORT_NO, LEAF, MENU_TYPE, 
      DELETE_FLAG)
    values (#{menuId,jdbcType=VARCHAR}, #{languageType,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=VARCHAR}, 
      #{menuName,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{openFlag,jdbcType=CHAR}, #{menuNo,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{lastModifyTime,jdbcType=VARCHAR}, #{sysType,jdbcType=CHAR}, #{opUser,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, #{leaf,jdbcType=CHAR}, #{menuType,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.po.MenuPO" >
    insert into T_BASE_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="languageType != null" >
        LANGUAGE_TYPE,
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuIcon != null" >
        MENU_ICON,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="openFlag != null" >
        OPEN_FLAG,
      </if>
      <if test="menuNo != null" >
        MENU_NO,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME,
      </if>
      <if test="sysType != null" >
        SYS_TYPE,
      </if>
      <if test="opUser != null" >
        OP_USER,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="sortNo != null" >
        SORT_NO,
      </if>
      <if test="leaf != null" >
        LEAF,
      </if>
      <if test="menuType != null" >
        MENU_TYPE,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="languageType != null" >
        #{languageType,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        #{openFlag,jdbcType=CHAR},
      </if>
      <if test="menuNo != null" >
        #{menuNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        #{sysType,jdbcType=CHAR},
      </if>
      <if test="opUser != null" >
        #{opUser,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=CHAR},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fctech.manager.po.MenuPOExample" resultType="java.lang.Integer" >
    select count(*) from T_BASE_MENU
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BASE_MENU
    <set >
      <if test="record.menuId != null" >
        MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      </if>
      <if test="record.languageType != null" >
        LANGUAGE_TYPE = #{record.languageType,jdbcType=VARCHAR},
      </if>
      <if test="record.parentMenuId != null" >
        PARENT_MENU_ID = #{record.parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuIcon != null" >
        MENU_ICON = #{record.menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null" >
        MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.openFlag != null" >
        OPEN_FLAG = #{record.openFlag,jdbcType=CHAR},
      </if>
      <if test="record.menuNo != null" >
        MENU_NO = #{record.menuNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null" >
        LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sysType != null" >
        SYS_TYPE = #{record.sysType,jdbcType=CHAR},
      </if>
      <if test="record.opUser != null" >
        OP_USER = #{record.opUser,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.leaf != null" >
        LEAF = #{record.leaf,jdbcType=CHAR},
      </if>
      <if test="record.menuType != null" >
        MENU_TYPE = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteFlag != null" >
        DELETE_FLAG = #{record.deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BASE_MENU
    set MENU_ID = #{record.menuId,jdbcType=VARCHAR},
      LANGUAGE_TYPE = #{record.languageType,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{record.parentMenuId,jdbcType=VARCHAR},
      MENU_NAME = #{record.menuName,jdbcType=VARCHAR},
      MENU_ICON = #{record.menuIcon,jdbcType=VARCHAR},
      MENU_URL = #{record.menuUrl,jdbcType=VARCHAR},
      OPEN_FLAG = #{record.openFlag,jdbcType=CHAR},
      MENU_NO = #{record.menuNo,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=VARCHAR},
      SYS_TYPE = #{record.sysType,jdbcType=CHAR},
      OP_USER = #{record.opUser,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      SORT_NO = #{record.sortNo,jdbcType=INTEGER},
      LEAF = #{record.leaf,jdbcType=CHAR},
      MENU_TYPE = #{record.menuType,jdbcType=VARCHAR},
      DELETE_FLAG = #{record.deleteFlag,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.po.MenuPO" >
    update T_BASE_MENU
    <set >
      <if test="languageType != null" >
        LANGUAGE_TYPE = #{languageType,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        OPEN_FLAG = #{openFlag,jdbcType=CHAR},
      </if>
      <if test="menuNo != null" >
        MENU_NO = #{menuNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="sysType != null" >
        SYS_TYPE = #{sysType,jdbcType=CHAR},
      </if>
      <if test="opUser != null" >
        OP_USER = #{opUser,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        SORT_NO = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="leaf != null" >
        LEAF = #{leaf,jdbcType=CHAR},
      </if>
      <if test="menuType != null" >
        MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.po.MenuPO" >
    update T_BASE_MENU
    set LANGUAGE_TYPE = #{languageType,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      OPEN_FLAG = #{openFlag,jdbcType=CHAR},
      MENU_NO = #{menuNo,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
      SYS_TYPE = #{sysType,jdbcType=CHAR},
      OP_USER = #{opUser,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      SORT_NO = #{sortNo,jdbcType=INTEGER},
      LEAF = #{leaf,jdbcType=CHAR},
      MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>