<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.company.dao.CompanyTaxregPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.company.po.CompanyTaxregPO" >
    <id column="taxReg_id" property="taxregId" jdbcType="INTEGER" />
    <result column="taxReg_type" property="taxregType" jdbcType="VARCHAR" />
    <result column="taxReg_no" property="taxregNo" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    taxReg_id, taxReg_type, taxReg_no, file_path, file_name, company_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fctech.manager.company.example.CompanyTaxregPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_BASE_COMPANY_TAXREG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_COMPANY_TAXREG
    where taxReg_id = #{taxregId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_BASE_COMPANY_TAXREG
    where taxReg_id = #{taxregId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fctech.manager.company.example.CompanyTaxregPOExample" >
    delete from T_BASE_COMPANY_TAXREG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.company.po.CompanyTaxregPO" >
    insert into T_BASE_COMPANY_TAXREG (taxReg_id, taxReg_type, taxReg_no, 
      file_path, file_name, company_id
      )
    values (#{taxregId,jdbcType=INTEGER}, #{taxregType,jdbcType=VARCHAR}, #{taxregNo,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.company.po.CompanyTaxregPO" >
    insert into T_BASE_COMPANY_TAXREG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taxregId != null" >
        taxReg_id,
      </if>
      <if test="taxregType != null" >
        taxReg_type,
      </if>
      <if test="taxregNo != null" >
        taxReg_no,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taxregId != null" >
        #{taxregId,jdbcType=INTEGER},
      </if>
      <if test="taxregType != null" >
        #{taxregType,jdbcType=VARCHAR},
      </if>
      <if test="taxregNo != null" >
        #{taxregNo,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fctech.manager.company.example.CompanyTaxregPOExample" resultType="java.lang.Integer" >
    select count(*) from T_BASE_COMPANY_TAXREG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BASE_COMPANY_TAXREG
    <set >
      <if test="record.taxregId != null" >
        taxReg_id = #{record.taxregId,jdbcType=INTEGER},
      </if>
      <if test="record.taxregType != null" >
        taxReg_type = #{record.taxregType,jdbcType=VARCHAR},
      </if>
      <if test="record.taxregNo != null" >
        taxReg_no = #{record.taxregNo,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null" >
        file_path = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BASE_COMPANY_TAXREG
    set taxReg_id = #{record.taxregId,jdbcType=INTEGER},
      taxReg_type = #{record.taxregType,jdbcType=VARCHAR},
      taxReg_no = #{record.taxregNo,jdbcType=VARCHAR},
      file_path = #{record.filePath,jdbcType=VARCHAR},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      company_id = #{record.companyId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.company.po.CompanyTaxregPO" >
    update T_BASE_COMPANY_TAXREG
    <set >
      <if test="taxregType != null" >
        taxReg_type = #{taxregType,jdbcType=VARCHAR},
      </if>
      <if test="taxregNo != null" >
        taxReg_no = #{taxregNo,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
    </set>
    where taxReg_id = #{taxregId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.company.po.CompanyTaxregPO" >
    update T_BASE_COMPANY_TAXREG
    set taxReg_type = #{taxregType,jdbcType=VARCHAR},
      taxReg_no = #{taxregNo,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER}
    where taxReg_id = #{taxregId,jdbcType=INTEGER}
  </update>
</mapper>