<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fctech.manager.author.dao.ProjectAlloReaderPOMapper" >
  <resultMap id="BaseResultMap" type="com.fctech.manager.author.po.ProjectAlloReaderPO" >
    <id column="project_readerid" property="projectReaderid" jdbcType="INTEGER" />
    <result column="reader_id" property="readerId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="reviewStatus" property="reviewstatus" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    project_readerid, reader_id, project_id, reviewStatus, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_PROJECT_ALLO_READER
    where project_readerid = #{projectReaderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_BASE_PROJECT_ALLO_READER
    where project_readerid = #{projectReaderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fctech.manager.author.po.ProjectAlloReaderPO" >
    insert into T_BASE_PROJECT_ALLO_READER (project_readerid, reader_id, project_id, 
      reviewStatus, time)
    values (#{projectReaderid,jdbcType=INTEGER}, #{readerId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{reviewstatus,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fctech.manager.author.po.ProjectAlloReaderPO" >
    insert into T_BASE_PROJECT_ALLO_READER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectReaderid != null" >
        project_readerid,
      </if>
      <if test="readerId != null" >
        reader_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="reviewstatus != null" >
        reviewStatus,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectReaderid != null" >
        #{projectReaderid,jdbcType=INTEGER},
      </if>
      <if test="readerId != null" >
        #{readerId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="reviewstatus != null" >
        #{reviewstatus,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fctech.manager.author.po.ProjectAlloReaderPO" >
    update T_BASE_PROJECT_ALLO_READER
    <set >
      <if test="readerId != null" >
        reader_id = #{readerId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="reviewstatus != null" >
        reviewStatus = #{reviewstatus,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_readerid = #{projectReaderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fctech.manager.author.po.ProjectAlloReaderPO" >
    update T_BASE_PROJECT_ALLO_READER
    set reader_id = #{readerId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      reviewStatus = #{reviewstatus,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where project_readerid = #{projectReaderid,jdbcType=INTEGER}
  </update>
</mapper>