<!-- if debug set to true, context info always print
 otherwise the contex info will print when error occour -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="contextpath" value="/Users/joe/desktop/fctechlogs"/>

    <property name="logpath" value="${contextpath}"/>

    <property name="filelogpath" value="${contextpath}/filelogs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 所有日志文件-->
    <appender name="AllLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logpath}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件传输日志文件 -->
    <appender name="FileTransLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filelogpath}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
        </encoder>
        <!-- 日志级别过滤器  OFF,ERROR,WARN,INFO,DEBUG,ALL-->
        <!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
             //设置过滤级别
             <level>ERROR</level>
             //配置符合过滤条件的操作
             <onMatch>DENY</onMatch>
              //配置不符合过滤条件的操作
             <onMismatch>ACCEPT</onMismatch>
         </filter>-->
    </appender>

    <!--自定义logger 可以为某个包下的所有类指定Appender 这里也可以指定类名称例如：com.aa.bb.ClassName-->
    <logger name="FileTransLog">
        <appender-ref ref="FileTransLog"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="AllLog"/>
    </root>

</configuration>
